{
  "twitch": {
    "loginChannel": "",
    "accessToken": "oauth:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "google": {
    "geminiApiKey": "",
    "modelName": "gemini-1.5-flash"
  },
  "phantomJsCloud": {
    "apiKey": ""
  },
  "recvServer": {
    "name": "localhost",
    "port": 14310
  },
  "oneComme": {
    "pathUsersCsv": ""
  }
}
