{
  "twitch": {
    "loginChannel": "",
    "accessToken": "oauth:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "google": {
    "geminiApiKey": "",
    "modelName": "gemini-1.5-flash"
  },
  "phantomJsCloud": {
    "apiKey": ""
  },
  "recvServer": {
    "name": "localhost",
    "port": 14310
  },
  "assistantSeika": {
    "name": "localhost",
    "port": 7180,
    "login": "SeikaServerUser",
    "password": "SeikaServerPassword",
    "cid": 0
  },
  "oneComme": {
    "pathUsersCsv": ""
  }
}
